body {
    background:#F7F7F7 url(../images/bg.gif) repeat-y;
}
body,html {
    font-family: 'Josefin Sans Std Light', serif;
	font-size:25px;
	margin: 0;
	letter-spacing: 2px;
    text-shadow: 4px 4px 4px #ddd;
	line-height: 30px;
}
a {
	color: #3A669D;
	text-decoration: none;
}
a:visited {
	color: #3A669D;
}
a:hover
{
	color: #CB9022;
}
a[name] {
    color:#3465A4;
}
p {
    margin-top:20px; 
    text-align:justify;
}
h1 {
	font-size: 65px;
	letter-spacing: -2px;
	line-height: 89px;
	margin-top: 20px;
	margin-bottom:20px;
}
h2 {
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -1px;
	margin-top: 15px;
}
#container {
    margin-left:45px;
    margin-right:35px;
}
#breadcrumbs {
    border-bottom:1px solid #dedede;
    padding:5px;
    font-size:20px;
}
#index-img {
    float:right;
    padding:50px;
}
#fork-me-on-github {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}
p.author {
    font-style: italic;
    text-align:right;
    
}
